.horizontal-list {
    display: flex;
    overflow-x: auto;
    margin-bottom: 20px;
  }
  
  .horizontal-list .boss-card {
    flex: 0 0 auto;
    margin-right: 10px;
  }
  
  .boss-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  }
  
  .boss-grid .boss-card {
    max-width: 200px;
    margin-bottom: 10px;
  }
  